.icon {
    user-select: none;
    height: 32px;
    text-align: center;
    vertical-align: center;
}

.overlay {
    z-index: 1;
    background: lightcoral;
    border-radius: 10px;
    font-size: 32px;
    padding: 2px;
    width: 175px;
    border: black solid 1px;
}

.element {
    cursor: pointer;
}